---
- name: Install Logstash
  apt:
   name: logstash
   update_cache: yes

- name: Install Input syslog
  logstash_plugin:
    state: present
    name: logstash-input-syslog

- name: Install Output ES
  logstash_plugin:
    state: present
    name: logstash-output-elasticsearch

- name: "copy syslog input config"
  copy:
    src: files/syslog_input.conf
    dest: /etc/logstash/conf.d/syslog_input.conf

- name: "copy syslog filter config"
  copy:
    src: files/syslog_filter.conf
    dest: /etc/logstash/conf.d/syslog_filter.conf

- name: "copy pfsense grok config"
  copy:
    src: files/pfsense_grok.conf
    dest: /etc/logstash/patterns/pfsense_grok.conf

- name: "copy es output config"
  copy:
    src: files/es_output.conf
    dest: /etc/logstash/conf.d/es_output.conf

- name: Starting Logstash
  service:
   name: logstash
   state: started
    
